.user-testimony {
    margin: 5rem 15rem;
    display: flex;
    justify-content: space-between;

    &__box {
        width: 35rem;
        height: 18rem;
        border: 1px solid $color-grey;
        //box-shadow: rgba(0,0,0,0.24) 0 3px 8px;
        border-radius: 5px;
        padding: 2rem;
        padding-right: 6rem;
        position: relative;

        &-heading {
            font-size: 22px;
            margin: 1rem 0;
            margin-top: 3rem;
        }

        &-paragraph {
            font-size: 19px;
        }
    }

}

.user-photo {
    position: absolute;
    top: -5rem;
}

.last-box {
    border: none;
}