.trade-menu{
    &__heading{
        font-size: 50px;
        color: $color-blue;
        margin: 0 auto;
        text-align: center;
    }
    &__list{
        margin: 0 auto;
        margin-top: 8rem;
        &-item{
            display: flex;
            margin-bottom: 8rem;
        }
    }
    &__box{
        width: 35rem;
        height: 18rem;
        box-shadow: rgba(0,0,0,0.24) 0 3px 8px;
        border-radius: 5px;
        padding: 2rem;
        &:not(:last-child){
            margin-right: 15rem;
        }
        &-heading{
            font-size: 22px;
            margin: 1rem 0;
        }
        &-paragraph{
            font-size: 17px;
        }
    }

}
.start-trade{
    &__box{
        height: 70rem;
        width:120rem;
        box-shadow: rgba(0,0,0,0.24) 0 3px 8px;
        margin: 0 auto;
        margin-top: 10rem;
        padding: 3rem;
    }
}