*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a, li {
  text-decoration: none;
  list-style: none; }

.buynsell {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.buynsell span {
  font-weight: 700;
  text-align: center; }

.box-input {
  background-color: #eee8e8;
  height: 7rem;
  width: 107rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem; }

.box-input p {
  font-size: 20px; }

.input-img {
  width: 8%; }

.arrow {
  display: flex;
  align-items: center; }

.down-arrow {
  font-size: 35px;
  color: black;
  position: absolute;
  right: 3rem;
  top: 10px; }

.pay {
  margin-top: 10rem; }

.p-info {
  font-size: 20px;
  text-align: center;
  margin: 7rem 0 7rem  0; }

.start-btn {
  margin-left: 45rem; }

.nav-btn__button {
  padding: .7rem 4.5rem;
  background-color: #fff;
  border-radius: 6px;
  border: none; }
  .nav-btn__button:hover {
    border: 2px solid #708efc; }
  .nav-btn__button:not(:last-child) {
    margin-right: 5rem; }

.nav-link {
  display: flex;
  color: #eee8e8; }
  .nav-link__item:not(:last-child) {
    margin-right: 4rem; }
  .nav-link__item:hover {
    border-bottom: 3px solid #708efc; }

.trade-menu__heading {
  font-size: 50px;
  color: #1B3593;
  margin: 0 auto;
  text-align: center; }

.trade-menu__list {
  margin: 0 auto;
  margin-top: 8rem; }
  .trade-menu__list-item {
    display: flex;
    margin-bottom: 8rem; }

.trade-menu__box {
  width: 35rem;
  height: 18rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 5px;
  padding: 2rem; }
  .trade-menu__box:not(:last-child) {
    margin-right: 15rem; }
  .trade-menu__box-heading {
    font-size: 22px;
    margin: 1rem 0; }
  .trade-menu__box-paragraph {
    font-size: 17px; }

.start-trade__box {
  height: 70rem;
  width: 120rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 3rem; }

.nav-bar {
  background-color: #1B3593;
  padding: 1rem 5rem;
  font-size: 16px; }
  .nav-bar__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.main-content {
  background-color: #fff;
  margin: 5rem; }
  .main-content__signup {
    display: flex;
    justify-content: space-between; }
  .main-content__coins {
    display: flex;
    justify-content: space-between;
    margin: 10rem 1rem;
    width: 120rem; }
  .main-content__trade-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.learn-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60rem; }
  .learn-more__heading {
    font-size: 80px; }
  .learn-more__paragraph {
    font-size: 32px; }
  .learn-more__button {
    padding: 1.1rem 9rem;
    border-radius: 6px;
    border: none; }
    .learn-more__button-2 {
      background-color: #1B3593;
      color: #fff; }

.learn-more span {
  color: #1B3593; }
